@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-image: url("../img/fondo.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
}
header{
    display: flex;
}

div > p {
    margin-bottom: 4%;
}
p{
    margin-top: 0;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 247%;
    width: 100%;
    text-align: center;
}

article{
    display: flex;
    justify-content: center;
}

section{
    background-color: #a5dbec;
    padding: 4%;
    display: flex;
    border-radius: 4%;
    flex-direction: column;
    justify-content: space-around;
}

canvas{
    margin: 30px;
}


.modoDeJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
    font-size: 148%;
}

.options{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button{
    font-size: 70%;
    width: 59%;
    padding: 5%;
    margin: 4% 0%;
    border-radius: 30% 6% 29% 6%;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}


button:hover{
    cursor: pointer;
    background-color: rgb(210 99 77);
    border-radius: 6% 30% 6% 29%;
}



.ocultarButtons{
    display: none;
}



