@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-image: url("../img/fondo.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
}
header{
    display: flex;
}


p{
    margin-top: 0;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 270%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0%;
}

article{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

section{
    background-color: #a5dbec;
    padding: 2%;
    display: flex;
    border-radius: 2%;
    margin: 0 2%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
}

canvas{
    border-radius: 2%;
}


.modoDeJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
    font-size: 148%;
}

.options{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button{
    font-size: 70%;
    width: 59%;
    padding: 5%;
    margin: 4% 0%;
    border-radius: 30% 6% 29% 6%;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}


button:hover, #btnReiniciar:hover, #btnContinuar:hover{
    cursor: pointer;
    background-color: rgb(210 99 77);
    border-radius: 6% 30% 6% 29%;
}



.ocultarButtons{
    display: none;
    width: 100%;
}
